body {
  margin: 0;
  font-family: Inter;
}

.rv_modal_wrapper {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(#545454, #545454b0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rv_modal {
  max-width: 30rem;
  max-height: 29rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  border: 5px solid #1faee9;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
}

.rv_modal_body h2 {
  text-transform: uppercase;
  font-family: Bebas Neue;
  letter-spacing: 8px;
  color: #186abc;
  font-size: 30px;
}

.rv_modal_header img {
  width: 80px;
  aspect-ratio: 1;
  display: block;
  margin: 0 auto;
}
.congratsMessage {
  animation: fadein 2s forwards 1 ease-in-out;
}
@keyframes fadein {
  0%,
  100% {
    opacity: 0;
    transform: translateY(-300px);
  }
  40%,
  60% {
    transform: translateY(0px);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

.question.first,
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  opacity: 0;
  margin-block: 0.5em;
  padding: 10px 40px;
  border-radius: 4px;
  background: #ffffff;
  transition: transform 1s;
  /* border: 1px solid #fff; */
}

.fadeinbottom {
  animation: fadinbottom 700ms 1s 1 forwards ease-in-out;
}

@keyframes fadinbottom {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    transform: translateY(-40px);
  }
}

.fadeinbottom2 {
  animation: fadinbottom2 700ms 1 forwards ease-in-out;
}

@keyframes fadinbottom2 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-100px);
  }
}

.fadeinbottom_rating {
  animation: fadinbottom_rating 700ms 1 forwards ease-in-out;
}

@keyframes fadinbottom_rating {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-175px);
  }
}

.fadeoutbottom {
  animation: fadeoutbottom 700ms 1 forwards ease-in-out;
}
@keyframes fadeoutbottom {
  0% {
    opacity: 1;
    transform: translateY(-40px);
  }
  100% {
    opacity: 0;
    transform: translateY(240px);
  }
}

.fadeoutbottom2 {
  animation: fadeoutbottom2 700ms 1 forwards ease-in-out;
}

@keyframes fadeoutbottom2 {
  0% {
    opacity: 1;
    transform: translateY(-100px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
    display: none;
  }
}

.query {
  font-weight: 500;
  white-space: nowrap;
}

.buttons_container {
  display: flex;
  gap: 1rem;
}

.custom_btn {
  padding: 6px 16px;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  background-color: #f2f2f2;
  color: black;
  cursor: pointer;
}

.yes,
.no {
  transition: 0.3s all;
}
.yes {
  color: rgb(101 163 13);
}
.no {
  color: rgb(226, 36, 27);
}

.yes:hover,
.yes:focus {
  background-color: rgb(101 163 13);
  color: white;
}

.no:hover,
.no:focus {
  background-color: rgb(226, 36, 27);
  color: white;
}

.rv_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  opacity: 0;
}

.rv_rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rv_rating-0 {
  filter: grayscale(100%);
}

.rv_rating > input {
  display: none;
}

.rv_rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rv_rating > input:checked ~ label,
.rv_rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rv_rating > input:not(:checked) ~ label:hover,
.rv_rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rv_emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.rv_emoji-wrapper:before,
.rv_emoji-wrapper:after {
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.rv_emoji-wrapper:before {
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 0) 100%
  );
}

.rv_emoji-wrapper:after {
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 0) 100%
  );
}

.rv_emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.rv_emoji > svg {
  margin: 15px 0;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rv_rating-1:checked ~ .rv_emoji-wrapper > .rv_emoji,
#rv_rating-1:hover ~ .rv_emoji-wrapper > .rv_emoji {
  transform: translateY(-100px);
}
#rv_rating-2:checked ~ .rv_emoji-wrapper > .rv_emoji,
#rv_rating-2:hover ~ .rv_emoji-wrapper > .rv_emoji {
  transform: translateY(-200px);
}
#rv_rating-3:checked ~ .rv_emoji-wrapper > .rv_emoji,
#rv_rating-3:hover ~ .rv_emoji-wrapper > .rv_emoji {
  transform: translateY(-300px);
}
#rv_rating-4:checked ~ .rv_emoji-wrapper > .rv_emoji,
#rv_rating-4:hover ~ .rv_emoji-wrapper > .rv_emoji {
  transform: translateY(-400px);
}
#rv_rating-5:checked ~ .rv_emoji-wrapper > .rv_emoji,
#rv_rating-5:hover ~ .rv_emoji-wrapper > .rv_emoji {
  transform: translateY(-500px);
}

.rv_feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  transition: height 0.3s;
}

div#ratingMessage {
  margin-block: 0.5rem;
}

.rv_modal_body {
  min-height: 270px;
}

.cz_rv_btn {
  background-color: #186abc;
  color: white;
  padding: 8px 36px;
  margin-top: 10px;
}

.buttons_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
